{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='assets/python.jpeg') }}" class="card-img" alt="Python Development">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title">Geoguessor</h1>
                        <h5 class="card-title">This is a cool game <mark>fully extensible for classes in schools</mark>?</h5>
                        <p class="card-text">
                            <ol>
                                <li>GeoGuessr is an engaging and addictive online geographic guessing game that challenges players to test their knowledge of the world and their deduction skills by dropping them in random locations across the globe using Google Street View imagery.</li>

                                <li>Developed by Anton Wallén, GeoGuessr offers a unique and immersive experience for geography enthusiasts, explorers, and trivia buffs.</li>
                                
                                <li>The objective of GeoGuessr is simple: players find themselves in an unfamiliar place, and they must determine their location by exploring the surrounding environment through a series of static images taken from Google Street View. These images can range from bustling urban streets and scenic landscapes to remote, rural areas. Players can pan, zoom, and navigate within these images to gather clues about their whereabouts.</li>
                                
                                <li>To make an educated guess, players can rely on various factors such as architecture, road signs, vegetation, weather conditions, and even the direction of shadows. They can also use their knowledge of geography, languages, and cultures to narrow down the possibilities. Once they feel confident about their guess, they drop a pin on a world map to mark their chosen location.</li>
                            </ol>
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
